.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-text {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 200s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
